<mat-card class="card">
    <mat-card-title>Co-Occurrence Matrix Example</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Source</mat-label>
            <mat-select [(value)]="Source">
                <!-- <mat-option value="1">Korn Ferry Co-Occurrence Matrix Data</mat-option> -->
                <mat-option value="2">Co-Occurrence Matrix Reference Data</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="Source === '2'">
            <mat-label>Sort Order</mat-label>
            <mat-select [(value)]="SortOrder">
                <mat-option value="name">By Name</mat-option>
                <mat-option value="count">By Frequency</mat-option>
                <mat-option value="group">By Cluster</mat-option>
            </mat-select>
        </mat-form-field>

        <app-co-occurrence-matrix *ngIf="data" [data]="data" [sortOrder]="sortOrder"></app-co-occurrence-matrix>
    </mat-card-content>
</mat-card>