.toolbar {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    background-color: white;
    top: 0;
    z-index: 10;
}

.middle-area {
    flex: 1 1 auto;
    margin: 20px;
}

.router-outlet {
    margin-top: 80px;
}