<div class="toolbar">
    <mat-toolbar color="primary">
        <span class="leftside-area">Kornferry Products Suite - d3 Visualizations POC</span>
        <span class="middle-area">
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="navigate('node-link-example')">
          <mat-icon>share</mat-icon>
          <span>Node Link Tree</span>
        </button>
        <button mat-menu-item (click)="navigate('co-occurrence-matrix-example')">
          <mat-icon>security</mat-icon>
          <span>Co-Occurrence Matrix</span>
        </button>
        <button mat-menu-item (click)="navigate('ny-times-example')">
          <mat-icon>blur_on</mat-icon>
          <span>NY Times Budget Proposal</span>
        </button>
        </mat-menu>

        <button mat-raised-button [matMenuTriggerFor]="appMenu">Visualization Demos</button>
        </span>
        <span class="rightside-area"></span>
    </mat-toolbar>
</div>

<div class="router-outlet">
    <router-outlet></router-outlet>
</div>