#tooltip {
    text-align: center;
    z-index: 1000;
    position: absolute;
    display: none;

    .tooltipContainer {
        position: absolute;
        bottom: 0;
        width: 230px;
        left: -125px;
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.9);
        color: #000;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(200, 200, 200, 0.85);
        text-align: center;
    }
    
    .tail {
        position: absolute;
        bottom: -8px;
        left: 105px;
        width: 40px;
        height: 8px;
        background: url(/assets/images/tail_white.png) 50% 0%;
    }
    
    .content {
        text-align: left;
        font-size: 13px;
        text-align: center;
    }
}

::ng-deep #chart {
    .node {
        fill: none;
        stroke: rgb(61, 119, 171);
        stroke-width: 1.5;
    }

    .link {
        fill: none;
        stroke: lightgray;
    }

    .node-text {
        font-family: 'tahoma';
        font-size: 11px;
        stroke: black;
        stroke-width: 0.5px;
        fill: black;
        cursor: pointer;
    }
}
