<mat-card class="card">
    <mat-card-title>Node Link Tree Example</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Source</mat-label>
            <mat-select [(value)]="Source">
                <mat-option value="1">Korn Ferry Hierarchy Data</mat-option>
                <mat-option value="2">Node Link Reference Data</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="Source === '1'">
            <mat-label>Level</mat-label>
            <mat-select [(value)]="Level">
                <mat-option value="1">Family Type</mat-option>
                <mat-option value="2">Family</mat-option>
                <mat-option value="3">Sub Family</mat-option>
                <mat-option value="4">Jobs</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="drill-up-action" *ngIf="depthBreadCrumb.length >= 2">
            <button mat-raised-button (click)="drillup($event)">Drill Up</button>
        </div>
        <app-node-link 
            *ngIf="displayData"
            [data]="displayData"
            (drilldown)="drilldown($event)"
            [tooltipCB]="tooltipCB"
        ></app-node-link>
    </mat-card-content>
</mat-card>