.card {
    margin: 3px;
    width: 1200px;
}

.drill-up-action {
    text-align: right;
}

::ng-deep {
    mat-form-field {
        margin-right: 10px;
    }

    .tooltip-title {
        font-size: 20px;
        font-weight: 600;
        padding: 5px;
        margin-bottom: 5px;
    }

    .tooltip-item-label {
        font-weight: 600;
        text-align: left;
        padding: 5px;
    }

    .tooltip-item-data {
        text-align: left;
    }
}
