html {
    min-width: 1040px;
}

::ng-deep {
    #chart {
        margin-top: 30px;
        margin-left: 100px;
    }

    .kf body {
        background: #fcfcfa;
        color: #333;
        font-family: "PT Serif", serif;
        margin: 1em auto 4em auto;
        position: relative;
        width: 960px;
    }

    .kf header,
    .kf footer,
    .kf aside,
    .kf h1,
    .kf h2,
    .kf h3,
    .kf h4 {
        font-family: "PT Sans", sans-serif;
    }

    .kf h1,
    .kf h2,
    .kf h3,
    .kf h4 {
        color: #000;
    }

    .kf header,
    .kf footer {
        color: #636363;
    }

    h1 {
        font-size: 64px;
        font-weight: 300;
        letter-spacing: -2px;
        margin: .3em 0 .1em 0;
    }

    h2 {
        margin-top: 2em;
    }

    h1,
    h2 {
        text-rendering: optimizeLegibility;
    }

    h2 a[name],
    h2 a[id] {
        color: #ccc;
        right: 100%;
        padding: 0 .3em;
        position: absolute;
    }

    header,
    footer {
        font-size: small;
    }

    .kf header aside,
    .kf footer aside {
        float: left;
        margin-right: .5em;
    }

    .kf header aside:after,
    .kf footer aside:after {
        padding-left: .5em;
        content: "/";
    }

    footer {
        margin-top: 8em;
    }

    h1~aside {
        font-size: small;
        right: 0;
        position: absolute;
        width: 180px;
    }

    .attribution {
        font-size: small;
        margin-bottom: 2em;
    }

    body>p,
    li>p {
        line-height: 1.5em;
    }

    body>p {
        width: 720px;
    }

    body>blockquote {
        width: 640px;
    }

    blockquote q {
        display: block;
        font-style: oblique;
    }

    ul {
        padding: 0;
    }

    li {
        width: 690px;
        margin-left: 30px;
    }

    a {
        color: steelblue;
    }

    a:not(:hover) {
        text-decoration: none;
    }

    pre,
    code,
    textarea {
        font-family: "Menlo", monospace;
    }

    code {
        line-height: 1em;
    }

    textarea {
        font-size: 100%;
    }

    body>pre {
        border-left: solid 2px #ccc;
        padding-left: 18px;
        margin: 2em 0 2em -20px;
    }

    .html .value,
    .javascript .string,
    .javascript .regexp {
        color: #756bb1;
    }

    .html .tag,
    .css .tag,
    .javascript .keyword {
        color: #3182bd;
    }

    .comment {
        color: #636363;
    }

    .html .doctype,
    .javascript .number {
        color: #31a354;
    }

    .html .attribute,
    .css .attribute,
    .javascript .class,
    .javascript .special {
        color: #e6550d;
    }

    svg {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    sup,
    sub {
        line-height: 0;
    }

    q:before {
        content: "“";
    }

    q:after {
        content: "”";
    }

    blockquote q {
        line-height: 1.5em;
        display: inline;
    }

    blockquote q:before,
    blockquote q:after {
        content: "";
    }

    .background {
        fill: #eee;
    }

    line {
        stroke: #fff;
    }

    text.active {
        fill: red;
    }
}
